extends layout

block content
    h1= title
    p Welcome to #{title}

    if loggedIn
        p You are logged as #{user.name.first} #{user.name.last}.
        img(src=user.picture)
        a(href='/auth/logout') Logout
    else
        p You are not logged.
        a(href=logginLink) Login
