extends layout

block content
    h1: | Restricted area

    if loggedIn
        p You are logged as #{user.name.first} #{user.name.last}.
        img(src=user.picture)
        a(href=logoutLink) Logout
    else
        p You are not logged.
        a(href=loginLink) Login
